
#global {width:1400px; margin:4px auto;}


body {
	background-color: #4ecdc4;
	background-image:url("/images/fondo.png");
	background-repeat: no-repeat;
	background-attachment: inherit;
	z-index: 0;
	}


header {
	position: relative;
	background-image:url("/images/header.png");
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-size: 24.5em;
}



section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}


#fondo{
	position: static;
	z-index: -5;
	}



#base{
	position: fixed;
	z-index: -4;
	left: 0%;
	top: 20%;

}

#fair{
	position: fixed;
	z-index: -3;
	left: -50%;
	top: 65%;

}



#noria{
	position: fixed;
	z-index: -2;
	top: 67%;
	right: 20%;
}

#montaña_rusa{
	position: fixed;
	z-index: -2;
	top: 62%;
	left: 10%;
}


#carrito{
	position: fixed;
	z-index: -2;
	top: 62%;
	left: 10%;
}
#logo {
	width: 40%;
	height: 40%;
}


#id{
	position: absolute;
	left: 0%;
}

.formulario{
	text-align: left;
	display:table-row-group;
}

.enviar{
	background-color: #99cc33;
	color:#000077;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
    border-radius: 8px;
}
/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #069;
}

#signup{
	position: fixed;
}

/* Navigation */


nav {
  margin: 0.5em;
  white-space: nowrap;
  border-radius: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.5em ;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color:#99cc33;
}


nav ul li a:hover {
  text-decoration: underline;
  color: #AAFF5B;
  
}
/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}



/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}



.desc{
	float: left;
   border-radius: 10px;
	background:#99cc33; 
	border-style:solid;
	border-color:#000;	
	border-width:medium;
	text-align:center;
 	display: block;
    width: 400px;
	height: 300px;
    font-size: 150%;
    font-weight: bold;
    padding: 10px;

}

.regs{
	position: relative;
	right: -20px;
	top: -10px;
	display: inline-block;
	padding: 10px;
	
}

.bloq{
	position: relative;
	display: block;
	padding: 10px;
	margin: 10px;
}



footer {
  position:fixed;
  text-align: center;
  bottom: 5%;
  left: 15%;
  z-index: 9;
  
}

.debug {
  position:fixed;
  left: 65%;
  bottom: 0%;
  z-index: 9;
  
}

footer nav {
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
	
  width: 30%;
  padding: 3em;
  vertical-align: top;
}

#post-it_home{
	position: absolute;
	z-index: -1;
	right: 20.5%;
	top: 8%;
	width: 15%; 
	height: 25%;
}

#post-it_profile{
	position: absolute;
	z-index: -1;
	right: 14.5%;
	top: 8%;
	width: 15%; 
	height: 25%;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* User new form */

div.field, div.actions {
  margin-bottom: 10px;
}


/* Form's Errors */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* all user's view */
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* Microposts view */
h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}


form.new_micropost textarea {

height: 4em;

color: #EEE;
font-size: 20px;
font-weight: 300;
width: 40%;

margin-bottom: 20px;
line-height: 22px;

padding: 10px;
position: relative;
text-align: left;
text-shadow: 0 1px 2px black;
-webkit-border-radius: 20px;
border-radius: 20px;
background: rgba(255, 255, 255, 0.7);
}


#all_user{
	
   color: #EEE;
   width: 40%;
   height: auto;

   margin-bottom: 20px;
   line-height: 22px;
   margin-right: 20%;
   margin-left: 20%;
   
   padding: 10px;
   position: relative;
   text-align: left;
 
   -webkit-border-radius: 20px;
   border-radius: 20px;
   background: rgba(255, 255, 255, 0.7);	
	
}


.apple_pagination {
  background: #0DD227;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; 
}

.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; 
}

.apple_pagination .disabled {
    color: #aaaaaa; 
}

.apple_pagination .em {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(22, 255, 22, 0.8) 1px 1px 1px; 
}

.apple_pagination a {
    text-decoration: none;
    color: #4ecdc4;
}

.apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; 
       border-radius: 5px;
       border-color: #4ecdc4;
}


