<div class = "tittle" >
   <h1>Upss Error!</h1>
</div>

<%= form_for(@user, :html => { :multipart => true } ) do |f| %>

<div id = "error2" >

   <%= render 'shared/error_messages', :object => f.object %>
</div>		
<% end %>

</div>