<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field" id = "post">
    <%= f.text_area :content %>
  </div>
  <div class="actions" id = "submit">
    <%= f.submit "Submit", :class => "enviar" %>
  </div>
<% end %>