<h1>About Us</h1>
<div class = "box" ></div>
	<div id= "box1">
		<p>
  	   		Our social network was created like a proyect for the Design of Computer Systems
       		subject from the ETSII of La Laguna University.  
		</p>
	</div>
	<div id = "box2">
		<p>	       
            We’re two students who have worked and are still working  to make this project come 
            true. Our main aim is you to enjoy and  to “Stick” on our page, and that’s why the
            name we chose is: <strong> “Sticky Place” </strong>.
		</p>
	</div>     
	<div id = "box3">      
		<p>
	  		This social network started being based on Michael Hartl’s tutorial: “Ruby on rails”,
	  		in which we found the needed support to develop our application. </p>
	</div>
</div>


