<div class = "tittle" >
     <h1>About Us</h1>
</div>
    

<div class = "container_12" ></div>
   
   
   <div class = "grid_0 admin_1" ></div>
   
       <img src="/images/personaje_nube.png" alt="admin1" id= "admin_1" />
       <img src="/images/ale_cara.png" alt="cara_admin1" id= "cara_admin_1" />
       <img src="/images/Lazo.png" alt="lazo_admin1" id= "lazo_admin_1" />
       <img src="/images/flecha.png" alt="flecha" id= "flecha1" />
     
       <div id= "box_admin1">
          <p>
          	Hi I'm Alexandra! Follow us!
  	      </p>
       </div>
   </div>
   <div class = "grid_0 admin_2" ></div>
   
       <img src="/images/personaje_nube.png" alt="admin1" id= "admin_2" />
       <img src="/images/ivan_cara.png" alt="cara_admin2" id= "cara_admin_2" />
       <img src="/images/flecha.png" alt="flecha" id= "flecha2" />
     
       <div id= "box_admin2">
          <p>
          	Hello I'm Ivan! Come on, <br>sign in now!
  	      </p>
       </div>
   </div>
   
   
   <div class = "grid_6" ></div>
  
      <div class = "box" >
	     <div id= "box1">
		   <p>
  	   		   Our social network was created like a proyect for the Design of Computer Systems
       		   subject from the ETSII of La Laguna University.  
		   </p>
		   <p>	       
               We’re two students who have worked and are still working  to make this project come 
               true Alexandra and Iván. Our main aim is you to enjoy and  to “Stick” on our page, and that’s why the
               name we chose is: <strong> “Sticky Place” </strong>.
		   </p>
		   <p>
	  		   This social network started being based on Michael Hartl’s tutorial: “Ruby on rails”,
	  		   in which we found the needed support to develop our application. 
	  		   </p>
	     </div>
	  </div>
   </div>
   
   <div class = "footer_follow" >
      <div class = "grid_10" id = "box_twitter" >
      	
      	
      	
      </div>
      <div class = "grid_10" id = "box_facebook" >
      	
      	
      	
      </div>
    </div>
   <div class="clear"></div> 
</div>

