<h1>About Us</h1>
<div class = "datos">
<p>
  <br> This is a social network project of the course Design of Computer Systems from the  ETSII of the university of La Laguna.
  <br> 
  <br> In this project work 2 students of the course that they take the name of Sticky Place fot their project beacuse its translation as a site sticky.
</p>
</div>
