<div class = "tittle" >
	<h1>FAQ</h1>
</div>

<div class = "faq">

   <div class = "question" id = "q1" > 
       <h1> What's a “Sticker User”? </h1>
	   <p>  If you are registered on Sticky Place you're a “Sticky User”,
		    what allow you to have a good time here and meet a lot of 
		    people around the world! 
       </p>
       <h1> How can I become a “Sticky User”?</h1>
	   <p>  It’s so easy, you only have to  go to the homepage, sign in and
	   	    start enjoying our web platform, following the users you know 
	   	    (or the ones you don’t) and writing your first “Sticky Notes”!
       </p>
       <h1> What’s a “Sticky note”?</h1>
	   <p>  A “Sticky note” is the way we propose you to share everything you
	   	    want to: your thoughts, ideas, feelings, memories,... in order 
	   	    that all your followers can see and read them.
       </p>
   </div>
   <div class = "question" id = "q4"> 
       <h1> What’s a “Follow”?</h1>
	   <p>  In order to know your “Sticky friend’s” moves/advances, you must 
	   	    “follow” them. It means you’ll be able to read his/her “Sticky notes”
	   	    on his/her wall and wise up everything they’re thinking, doing or 
	   	    feeling at the time they write it.
       </p>
       <h1> Who must I follow?</h1>
	   <p>  You are the only one who choose the people you follow and set the 
	   	    social relationship limits. In “Sticky place”, you’ll be able to find 
	   	    celebrities, relatives, friends, friend’s friends,... almost everyone 
	   	    you can imagine! <br> 
	   	    We recommend you to start following “Sticky creators”: 
	   	    Administrador and Administradora! ^^</p>
   </div>
</div>
