<link rel="STYLESHEET" type="text/css" href="960-grid-system/code/css/960.css">
<div>
		<p class= bot> ¿No eres un Sticky User aún? 
		<br>Registrate
		</p>

		<p class= desc> Descripcion 
		</p>
		</div>
		<div class = botones>
		   <p class= botts> Nombre </p>
			<p class= botts>  Apellido </p>
			<p class= botts>  Email </p>
			<p class= botts>  Contraseña </p>
			<p class= botts>  Repetir contraseña </p>
		</div>
		<div class = botones>
			<form class= regs> 
				<input type="text" name="nombre" class = bloq > 
				<input type="text" name="apellido" class = bloq> 
				<input type="text" name="email" class = bloq> 
				<input type="password" name="contraseña" class = bloq >
				<input type="password" name="repetir contraseña" class = bloq >
				<input type="submit" value="Enviar" class = bloq> 
			</form>
		</div>
