<footer>
	<div class="container_12">
		<div class="grid_12">
			<nav class="round">
				<ul>
					<li>  <%= link_to "About Us", about_path %></li>
					<li>  <%= link_to "Privacy Policy", policy_path %></li>
					<li>  <%= link_to "FAQ", contact_path %></li>
					<li><%= link_to "Help", help_path %></li>
				</ul>
			</nav>
		</div>	
	</div>	
	<div class="clear"></div> 
</footer>
