<div class="container_16">
<footer>
<div class="grid_16">
  <nav class="round">
    <ul>
    <li>  <%= link_to "Acerca de", about_path %></li>
    <li>  <%= link_to "Politicas de Privacidad", contact_path %></li>
    <li>  <%= link_to "FAQ", contact_path %></li>
    <li>  <%= link_to "Desarrolladores", contact_path %></li>
    </ul>
  </nav>
</div>	
</footer>
<div class="clear"></div> 
</div>
