<div class="container-fluid">
	<footer>
		<div class="row-fluid">
			<div class="span12">
				<nav class="round">
					<ul>
						<li>  <%= link_to "Acerca de", about_path %></li>
						<li>  <%= link_to "Politicas de Privacidad", contact_path %></li>
						<li>  <%= link_to "FAQ", contact_path %></li>
						<li>  <%= link_to "Desarrolladores", contact_path %></li>
					</ul>
				</nav>
			</div>	
		</div>	
	</footer>
</div>
